apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx-app
          image: 359082855222.dkr.ecr.eu-north-1.amazonaws.com/demo-nginx:IMAGE_TAG
          ports:
            - containerPort: 80
